@using System.Security.Claims;
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Index";
}
@{
    ViewBag.Title = "Index";
    ViewBag.Active = "Index";
}

<div class="text-center mt-5" style="margin-left: 14rem;">

    <h1 class="display-4 text-white fw-bold">Bienvenido</h1>
    @if (User.Identity!.IsAuthenticated)
    {
        <p class="lead text-white">
            Bienvenido usuario
            @User.Claims.Where(c => c.Type == ClaimTypes.Name).Select(c => c.Value).FirstOrDefault()
        </p>
    }
    else
    {
        <p class="lead text-white">Please, log in</p>
    }

    @if (User.IsInRole("Admin"))
    {
        <p class="lead text-white">You are an Admin</p>
    }




    @if (HttpContextAccessor.HttpContext.Session.GetInt32("PackageId") > 0)
    {
        <p class="text-white">
            Ya cuenta con un paquete
        </p>
    }
    else
    {
        <h3 class="text-white fw-bold">Contrate un Paquete</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card fondoOscuro">
                    @* <img class="card-img-top" src="..." alt="Card image cap"> *@
                    <div class="card-body">
                        <h5 class="card-title text-white fw-bold">Paquete Basico</h5>
                        <p class="card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary fondoRojo border-0 fw-bold">CONFIRMAR PAQUETE</a>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-around">
                            <p class="text-white">Costo:</p>
                            <p class="text-white">$100</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card fondoOscuro rounded">
                    @* <img class="card-img-top" src="..." alt="Card image cap"> *@
                    <div class="card-body">
                        <h5 class="card-title text-white fw-bold">Paquete Intermedio</h5>
                        <p class="card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary fondoRojo border-0 fw-bold">CONFIRMAR PAQUETE</a>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-around">
                            <p class="text-white">Costo:</p>
                            <p class="text-white">$100</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card fondoOscuro">
                    @* <img class="card-img-top" src="..." alt="Card image cap"> *@
                    <div class="card-body">
                        <h5 class="card-title text-white fw-bold">Paquete Avanzado</h5>
                        <p class="card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary fondoRojo border-0 fw-bold">CONFIRMAR PAQUETE</a>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-around">
                            <p class="text-white">Costo:</p>
                            <p class="text-white">$100</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }



</div>
