@model mvcfarm1.Models.Company
@{
    ViewData["Title"] = "Login";
}

<hr />
<div class="card cardSize mx-auto">
    <div class="card-header">
        Welcome, please Log In
    </div>
    <div class="card-body fondoOscuro">
        <form asp-action="Login" asp-controller="Login">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label text-white"></label>
                <input asp-for="Email" class="form-control" placeholder="email@example.com" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label text-white"></label>
                <input asp-for="Password" type="password" class="form-control" placeholder="••••••••" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            @if (ViewData["Error"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewData["Error"]
                </div>
            }
            <div class="form-group d-flex justify-content-center flex-column align-items-center">
                <a class="text-primary align-self-end" asp-area="" asp-controller="Login" asp-action="Register">Register</a>
                <input type="submit" value="Log In" class="btn btn-primary my-2 border-0 shadow-sm fw-bold fondoRojo" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}