@model mvcfarm1.Models.Usuario

@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<form asp-action="Register" method="post">
    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input type="text" class="form-control" asp-for="Nombre" />
    </div>
    <div class="form-group">
        <label asp-for="Correo"></label>
        <input type="email" class="form-control" asp-for="Correo" />
    </div>
    <div class="form-group">
        <label asp-for="Contrasena"></label>
        <input type="password" class="form-control" asp-for="Contrasena" />
    </div>
    <div class="form-group">
        <label asp-for="Rol"></label>
        <input type="text" class="form-control" asp-for="Rol" />
    </div>
    <div class="form-group">
        <label asp-for="Direccion"></label>
        <input type="text" class="form-control" asp-for="Direccion" />
    </div>
    <div class="form-group">
        <label asp-for="Telefono"></label>
        <input type="text" class="form-control" asp-for="Telefono" />
    </div>
    <div class="form-group">
        <label asp-for="Giro"></label>
        <input type="text" class="form-control" asp-for="Giro" />
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
